.cabecalho__menu-hamburguer {
    width: 35px;
    height: 50px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}


.container__imagem {
    padding-right: 1em;

}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botão:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__items {
    padding: 1em;
    background-color: var(--cor-branco);
    
}

.lista-menu__titulo {
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
}

.container__botão{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

.container__botão:checked ~.container__label >.cabecalho__menu-hamburguer{
    background-image: url("../assets/MenuAberto.svg");
}

.container__botão:checked~.container__label{
    background: var(--cor-azul-degrade);
}



@media screen and (min-width:1024px){
    .container__titulo{
        display: block;
    }
    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container__titulo{
        font-weight: 400;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }
    .opcoes{
        display: flex;
        gap: 1em;
    }
    .opcoes__item{
        text-decoration: none;
        text-transform: uppercase;
    }
    .opcoes__link{
        text-decoration: none;
        text-transform: uppercase;
        color: var(--cor-preto);
    }
    .container__imagem-transparente{
        display: none;
    }
    .cabecalho__menu-hamburguer{
        display: none;
    }
    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;

    }
    .opcoes__botao{
        display: none;
    }
    .opcoes__botao:checked ~ .opcoes__label > .opcoes__item{
        background: var(--cor-azul-degrade);
        color: var(--cor-branco);
    }
    .opcoes__item{
        padding: 1em 2em;
    }
    
    .lista-menu__items:hover{
        background: var(--cor-azul-degrade);
        
    }
    .lista-menu__items:hover> .lista-menu__link{
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }
    
}

@media screen and (min-width:1728px) {
    .container__texto{
        display: block;
    }
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preto);
    }
    .cabecalho{
        padding: 0 2em;
    }
    .container__imagem {
        padding-right: 0em;
    }
    .opcoes{
        margin-right: auto;
        margin-left: 1em;
    }
}